@import "../../assets/css/global.scss";

#trainPage {
    .banner {
        // background: url("../../../public/images/flag.jpg") center center;
        // background-size: cover;
        margin-top: -128px;
        padding-top: 128px;
        padding-bottom: 50px;
    }
    .headline {
        img {
            max-width: 582px;
        }
        .train-logo {
            font-size: 70px;
            line-height: 76px;
            display: block;
            @media (max-width: 1199px) {
                font-size: 50px;
                line-height: 66px;
            }
            @media (max-width: 575px) {
                font-size: 25px;
                line-height: 31px;
            }
            .tl-gray-dark {
                color: #6d6d6d;
            }
            .tl-gray-light {
                color: #c5c8cb;
            }
        }
    }
    .train-banner-below {
        .tagline {
            h6 {
                font-size: 18px;
                line-height: 28px;
                color: #000000;
                // font-family: "seguibl";
                text-align: center;
                margin: 0 auto 30px;
            }
        }
        .desc {
            p {
                font-size: 20px;
                line-height: 30px;
                color: #a1a1a1;
                /* font-family: "segoeuisl" !important; */
                text-align: center;
                max-width: 80%;
                margin: 25px auto 25px;
                position: relative;
                z-index: 9999;
            }
        }
        .more {
            text-align: center;
            animation: crescendo 1.5s alternate infinite ease-in;
            a {
                background: url(../../../public/images/more-bg.png) no-repeat;
                background-size: 100% 100%;
                background-position: center;
                width: 44px;
                height: 44px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin: auto;
                i {
                    background: rgb(0, 93, 146);
                    background: radial-gradient(
                        circle,
                        rgba(0, 93, 146, 1) 0%,
                        rgba(56, 182, 255, 1) 78%
                    );
                    color: #fff;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 15px;
                    font-weight: 100;
                }
            }
        }
    }
}
span {
    &.highlight-underline-green {
        position: relative;
        display: inline-block;
        //   font-style: italic;
        &:before {
            background-color: #2fda38;
            content: "";
            width: 100%;
            bottom: 10px;
            left: 4px;
            position: absolute;
            right: 0;
            height: 34%;
            display: block;
            z-index: -1;
        }
    }
}
.btn-train {
    &.btn-train-primary {
        background-color: #346e8a;
    }
    &.btn-train-primary-gradient {
        background: #346e8a;
        background: linear-gradient(
            94deg,
            rgba(52, 110, 138, 1) 0%,
            rgba(122, 205, 246, 1) 100%
        );
    }

    &.btn-train-outline {
        background-color: transparent;
        border: 2px solid #346e8a;
        color: #346e8a;
    }
    line-height: 40px;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    font-weight: bold;
    text-decoration: none;
    &:not(:last-child) {
        margin-right: 30px;
    }
}
.link {
    color: #346e8a !important;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1vw 2vw;
    margin-top: 20px;
}
.train-page-tagline {
    display: flex;
    align-items: center;
    img {
        max-width: 150px;
    }
}

.list-check {
    padding-left: 10px;
    li {
        color: #fff;
        list-style-type: none;
        &:before {
            content: "\2713";
            margin-right: 10px;
        }
    }
}

.blue-gradient {
    background: linear-gradient(to right, #005d92 0%, #38b6ff 78%) !important;
}

@keyframes crescendo {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
