// ----------- Helpers ----------- //

@import "./helpers/variables.scss";
@import "./helpers/fonts.scss";
@import "./helpers/font-wieght.scss";
@import "./helpers/font-size.scss";
@import "./helpers/width.scss";
@import "./helpers/heigth.scss";
@import "./helpers/spacing.scss";
@import "./helpers/opacity.scss";
@import "./helpers/border-radius.scss";
@import "./helpers/color-scheme.scss";

body {
    font-family: $themeFont;
    font-weight: 400;
    font-size: 14px;
    color: $paragraph;
    margin: 0;
    padding: 0;
    color: #000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.w-fit {
    width: fit-content;
}

.cp {
    cursor: pointer;
}

button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.center {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

.text- {
    &gold {
        color: $gold !important;
    }
    &brand-light {
        color: $brand-light;
    }
    &brand {
        color: #50759d !important;
    }
    &bold {
        font-weight: bold !important;
    }
    &bolder {
        font-weight: 900 !important;
    }
    &italic {
        font-style: italic !important;
    }
    &upper {
        text-transform: uppercase !important;
    }
    &blue-gradient {
        background: #005d92;
        background: linear-gradient(to right, #005d92 0%, #38b6ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &.self-underlined {
            &:after {
                background: linear-gradient(to right, #005d92 0%, #38b6ff 100%);
            }
        }
    }
    &blue-gradient-2 {
        background: #005d92;
        background: linear-gradient(to right, #38c1cf, #5bcbb8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &.self-underlined {
            &:after {
                background: linear-gradient(to right, #38c1cf, #5bcbb8);
            }
        }
    }
    &blue-gold-gradient {
        background: $btn;
        background: linear-gradient(to right, $btn, $gold);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.self-underlined {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 1px;
        margin-top: 5px;
    }
}

.btn {
    &.btn-primary {
        background-color: $btn;
    }
    &.btn-primary-gradient {
        background: $btn;
        background: linear-gradient(
            94deg,
            rgba(52, 110, 138, 1) 0%,
            rgba(122, 205, 246, 1) 100%
        );
    }
    &.btn-gradient-2 {
        background: #38c1cf;
        background: linear-gradient(to right, #38c1cf, #5bcbb8);
    }

    &.btn-outline {
        background-color: transparent;
        border: 2px solid $btn;
        color: $btn;
    }
    &.btn-brand {
        background-color: $btn;
        color: #fff;
    }
}

span {
    &.highlight-underline {
        position: relative;
        display: inline-block;
        font-style: italic;
        &:before {
            background-color: $gold;
            content: "";
            width: 100%;
            bottom: 10px;
            left: 4px;
            position: absolute;
            right: 0;
            height: 34%;
            display: block;
            z-index: -1;
        }
    }
    &.highlight-text {
        position: relative;
        font-style: italic;
        color: $gold;
    }
}

.bg- {
    &blue-gradient {
        background: linear-gradient(
            to right,
            #005d92 0%,
            #38b6ff 78%
        ) !important;
    }
    &brand {
        background-color: $btn !important;
    }
}

.fz-60 {
    font-size: 60px;
}
