@import "../../assets/css/global.scss";

#AboutUs {
    margin: auto;
    .about-block-image {
        background: url("../../../public/images/about-us-splash-bg.jpg") center
            center;
        background-size: cover;
        margin-top: -210px;
        padding-top: 100px;
    }
    .one-liner {
        font-size: 54px;
        color: #346e8a;
        font-weight: 800;
        text-align: center;
        color: #346e8a;
        @media screen {
            font-size: 40px;
        }
        @media screen {
            font-size: 30px;
        }
    }
    .title {
        text-align: center;
        font-size: 86px;
        font-weight: 600;
        text-transform: uppercase;
        color: #88a0b9;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .sub-title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #50759d;
    }

    .text-detail {
        max-width: 680px;
        text-align: justify;
        text-align-last: center;
        margin: auto;
    }

    .our-founder-block {
        margin-top: 100px;
    }

    .avatar {
        border-radius: 12px;
    }

    .Young {
        width: 162px;
        height: 162px;
        object-fit: cover;
        object-position: top center;
    }

    .Advisors {
        width: 162px;
        height: 162px;
        object-fit: cover;
        object-position: top center;
        margin: 10px 15px 15px 0;
    }

    .Sponsor {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    }

    .PartnerCard {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
        width: 220px;
        margin: 0 20px;
        img {
            width: 90% !important;
            height: 100px;
            object-fit: contain;
        }
    }

    .ImageSlider {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SponsorAvatar {
        width: 150px;
        object-fit: contain;
        height: 50px;
        margin: 30px auto !important;
    }

    .Partner {
        width: 80%;
        object-fit: contain;
    }

    .our-partners-block {
        .detail-block {
            max-width: 750px;
            margin: 0 auto;
        }
    }

    .our-leadership-block {
        &.background2 {
            background: url("../../../public/images/about-us-testimonial.jpg")
                center center;
            background-size: cover;
            height: 280px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background-color: $btn;
                opacity: 0.7;
            }
            .detail-block {
                max-width: 1100px;
            }
        }
        color: #50759d;
        padding: 40px 15px;
        position: relative;
        .detail-block {
            max-width: 700px;
            margin: auto;
            position: relative;
            z-index: 2;
            .title {
                font-size: 34px;
                margin-bottom: 16px;
                text-align: left;
                color: inherit;
            }
        }
    }

    .academic-block {
        .sub-title {
            font-size: 34px;
            max-width: fit-content;
            margin: auto;
            line-height: 1;
        }
        .line {
            max-width: 300px;
            height: 2px;
            background: #76b67b;
            margin: 15px auto;
        }
    }

    .advisor-block {
        position: relative;
        max-width: 1200px;
        margin: auto;
        margin-top: 400px;
        margin-bottom: 550px;
        .sub-title {
            font-size: 34px;
            z-index: 1;
            position: relative;
            background: white;
            width: fit-content;
        }
        .advisors {
            &.background {
                background: url("../../../public/images/Vector Smart Object.png")
                    center;
                background-position-x: left;
            }
            position: absolute;
            top: -625%;
            left: 15%;
            border: 2px solid #76b67b;
            padding: 40px;
            max-width: 1200px;
            .list-block {
                margin-left: 200px;
                .row {
                    margin-top: 20px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                .advisor-item {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .Bottom {
        margin-top: 350px !important;
    }

    .quantum-block {
        &.bakcground {
            background: url("../../../public/images/Vector Smart Object.png")
                center center;
            background-size: auto;
        }
        .sub-title {
            font-size: 34px;
            max-width: fit-content;
            margin: auto;
            line-height: 1;
        }
        .detail {
            max-width: 600px;
            text-align: justify;
            text-align-last: center;
            margin: auto;
        }
    }

    .professional-block {
        .block {
            position: relative;
            max-width: 1200px;
            margin: auto;
            margin-top: 80px;
            background: #ededed;
            padding-bottom: 30px;
            .background {
                background: url("../../../public/images/Advisory Board.png")
                    center center;
                background-size: cover;
                box-shadow: 0px 26px 25px -20px rgba(0, 0, 0, 0.29);
                -webkit-box-shadow: 0px 26px 25px -20px rgba(0, 0, 0, 0.29);
                -moz-box-shadow: 0px 26px 25px -20px rgba(0, 0, 0, 0.29);
                color: white;
                font-size: 24px;
                text-align: center;
                padding: 60px 15px;
                height: 300px;
                margin-left: -25px;
                margin-right: -25px;
                margin-top: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 26px;
                font-weight: 600;
            }
            &::after,
            &::before {
                display: block;
                content: "";
                width: 60px;
                height: 60px;
                position: absolute;
                background: #88a0b9;
                z-index: -1;
            }
            &::after {
                left: -2px;
                bottom: -2px;
            }
            &::before {
                right: -2px;
                top: 32%;
                height: 100px;
            }
        }
    }
    .as-school-partners {
        .text-detail {
            max-width: 90%;
        }
    }
}

.about-us-small-heading {
    h2 {
        font-size: 22px;
        line-height: 28px;
    }
}

.founder-vertical-text {
    left: -7%;
}

.founder-photo {
    width: 80%;
    border: 5px solid $gold;
    padding: 5px;
}
