@import "../../assets/css/global.scss";

.home-banner {
    padding: 50px 0px 100px;
    .col-md-6 {
        &.text-right,
        &.text-left {
            @media screen and (max-width: 767px) {
                text-align: center !important;
            }
        }
    }
    h2 {
        font-size: 50px;
        color: #346e8a;
        font-weight: bold;
        margin-bottom: 30px;
        margin-bottom: 30px;
        @media screen and (max-width: 991px) {
            font-size: 36px;
        }
        @media screen and (max-width: 767px) {
            font-size: 28px;
        }
    }
    p {
        font-size: 22px;
        line-height: 30px;
        color: #232323;
        margin-bottom: 30px;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
        .anim_img {
            img {
                width: auto;
                max-width: 100%;
                display: block;
            }
        }
        .home-banner-text {
            font-size: 16px;
            line-height: 22px;
            padding: 10px 20px;
            display: inline-flex;
            border: 2px solid #8b8b8b;
        }
    }
    .btn {
        min-width: 130px;
        max-width: 150px;
        width: 100%;
        line-height: 40px;
        text-transform: uppercase;
        outline: none;
        border: none;
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0px;
        font-weight: bold;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.visual-text {
    h4 {
        font-size: 48px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 30px;
        color: #fff;
        @media screen and (max-width: 768px) {
            font-size: 40px;
        }
        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }
    h3 {
        @media screen and (max-width: 767px) {
            font-size: 30px !important;
            text-align: center;
        }
    }
    p {
        font-size: 20px;
        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
    .home-up-title {
        font-size: 30px;
    }
}

span {
    &.highlight-underline {
        position: relative;
        display: inline-block;
        font-style: italic;
        &:before {
            background-color: #d1a74c;
            content: "";
            width: 100%;
            bottom: 10px;
            left: 4px;
            position: absolute;
            right: 0;
            height: 34%;
            display: block;
            z-index: -1;
        }
    }
    &.highlight-text {
        position: relative;
        font-style: italic;
        color: #d1a74c;
    }
}
.container-1660 {
    max-width: 1660px;
}
.container-1920 {
    max-width: 1920px;
}
.brown-sec {
    background-color: $gold;
    // padding: 40px 15px 50px;
    padding: 15px 15px 30px;
    position: relative;
    &:after {
        content: "";
        display: block;
        margin: auto;
        border-top: 20px solid $gold;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        width: 40px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
    }
    h2 {
        display: block;
        margin: 0 auto;
        font-size: 40px;
        line-height: 46px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media screen and (max-width: 767px) {
            font-size: 30px !important;
        }
    }
}

.slick-dots {
    li {
        &.slick-active {
            button:before {
                color: #346e8a;
                font-size: 20px;
            }
        }
        button:before {
            color: #99b6c4;
            opacity: 1;
            font-size: 14px;
        }
    }
}

.eng-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // padding: 150px 0px;
    padding: 50px 0px 20px;
    //height: 741px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0 0 60px 0px #000;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
    // margin-top: 100px;
    margin-bottom: 100px;
    @media screen and (max-width: 991px) {
        // padding: 50px 0px !important;
        //height: 1000px;
        margin-top: 50px !important;
    }
    @media screen and (max-width: 767px) {
        height: auto;
        margin-bottom: 100px !important;
        // padding: 50px 0px !important;
    }
    h3 {
        color: #fff;
        // font-size: 62px;
        font-size: 32px;
        line-height: 46px;
        font-weight: bold;
        margin-bottom: 30px;
        @media screen and (max-width: 991px) {
            font-size: 30px;
            line-height: 40px;
        }
        @media screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 36px;
            margin-top: 40px;
        }
    }
    p {
        font-size: 16px;
        color: #fff;
        line-height: 24px;
    }
    img {
        max-width: 100%;
        width: auto;
        height: auto;
        max-height: 55vh;
        display: block;
        margin: auto;
        @media screen and (max-width: 991px) {
            max-width: 100%;
            width: 400px;
            margin: 0 auto;
            display: block;
        }
    }
    .eng-bg-bottom {
        h5 {
            font-size: 28px;
            line-height: 38px;
            font-weight: 700;
            color: #fff;
        }
        p {
            margin-bottom: 0;
        }
    }
}
.school-box {
    border: 3px dashed #346e8a;
    box-shadow: 0 0 25px -2px #dedede;
    // padding: 100px 40px;
    padding: 40px;
    @media screen and (max-width: 767px) {
        padding: 40px 15px;
    }
}

.school-partner {
    .sp-left {
        max-width: 380px;
        margin: auto;
        text-align: center;
        p {
            padding-bottom: 40px;
        }
    }
    img {
        width: 100%;
        display: block;
        @media screen and (max-width: 991px) {
            max-width: 100%;
            margin-bottom: 30px;
        }
    }
}

.student_programs {
    img {
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }
    .col-md-6.pr-0 {
        @media screen and (max-width: 767px) {
            padding-right: 15px !important;
        }
    }
}

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

.cls-1 {
    clip-path: url(#clip-Canvas);
}

.cls-2 {
    fill: #eaeaea;
}

.cls-3 {
    fill: rgba(0, 0, 0, 0);
}

.svg-laptop {
    overflow: visible;
    opacity: 0;
    width: 650px;
    @media screen and (max-width: 767px) {
        max-width: 100%;
        height: auto;
    }
    &.shown {
        opacity: 1;
        transition: all 3s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    image {
        opacity: 0;
        transition: all 3s cubic-bezier(0.22, 0.61, 0.36, 1);
        // &:nth-child(1){
        //     transform: translateX( #{randomNum(8, 18)}rem ) translateY( #{randomNum(4, 28)}rem );
        // }
        // &:nth-child(2){ transform: translateX( -#{randomNum(8, 18)}rem ) translateY( -#{randomNum(4, 28)}rem ); }
        // &:nth-child(3){ transform: translateX( #{randomNum(2, 22)}rem ) translateY( #{randomNum(3, 17)}rem ); }
        // &:nth-child(4){ transform: translateX( -#{randomNum(1, 19)}rem ) translateY( -#{randomNum(5, 30)}rem ); }
        // &:nth-child(5){ transform: translateX( #{randomNum(9, 19)}rem ) translateY( #{randomNum(6, 13)}rem ); }
        // &:nth-child(6){ transform: translateX( -#{randomNum(8, 18)}rem ) translateY( -#{randomNum(4, 28)}rem ); }
        // &:nth-child(7){ transform: translateX( #{randomNum(8, 14)}rem ) translateY( #{randomNum(14, 36)}rem ); }
        // &:nth-child(8){ transform: translateX( -#{randomNum(8, 18)}rem ) translateY( -#{randomNum(4, 28)}rem ); }
        // &:nth-child(9){ transform: translateX( #{randomNum(8.6, 18.6)}rem ) translateY( -#{randomNum(1, 56)}rem ); }
        // &:nth-child(10){ transform: translateX( -#{randomNum(13, 15)}rem ) translateY( -#{randomNum(9, 7)}rem ); }
        // &:nth-child(11){ transform: translateX( #{randomNum(13, 17)}rem ) translateY( #{randomNum(10, 67)}rem ); }
        // &:nth-child(12){ transform: translateX( -#{randomNum(7, 15)}rem ) translateY( -#{randomNum(11, 44)}rem ); }
        // &:nth-child(13){ transform: translateX( -#{randomNum(7, 15)}rem ) translateY( -#{randomNum(11, 44)}rem ); }
        // &:nth-child(14){ transform: translateX(-19rem) translateY(-20rem); }
        // &:nth-child(14){ transform: translateX(19rem) translateY(20rem); }
        // &:nth-child(15){ transform: translateX(-19rem) translateY(-20rem); }
        // &:nth-child(16){ transform: translateX(19rem) translateY(20rem); }
        // &:nth-child(17){ transform: translateX(-19rem) translateY(-20rem); }
        // &:nth-child(18){ transform: translateX(19rem) translateY(20rem); }
        // &:nth-child(19){ transform: translateX(-19rem) translateY(-20rem); }
        // &:nth-child(20){ transform: translateX(19rem) translateY(20rem); }
        // &:nth-child(21){ transform: translateX(-19rem) translateY(-20rem); }
        // &:nth-child(22){ transform: translateX(19rem) translateY(20rem); }
        // &:nth-child(23){ transform: translateX(-19rem) translateY(-20rem); }
    }
    &.show {
        image {
            opacity: 1;
            // transform: translateX(0px) translateY(0px) !important;
        }
    }
}
